@import "../vars";
.blog-card{
  background: #FFFFFF;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  &:hover{
    background: #FFEBE0;
    .blog-card{
      &__play{
        path{
          fill: $primary;
        }
      }
      &__img{
        filter: grayscale(0%);
      }
      &__title{
        color: $primary;
        p{
          text-decoration: underline;
        }
        span{
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
  &__img{
    flex-shrink: 0;
    height: 376px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    filter: grayscale(100%);
    transition: all .3s;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__title{
    display: block;
    margin-top: 20px;
    transition: all .3s;
    p{
      display: inline;
    }
  }
  &__props{
    padding-top: 20px;
    margin-top: auto;
  }
  .props__item{
    &::after{
      background: $black;
    }
  }
  &__play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}

.opinion-card{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 1px solid $dark;
  border-radius: 15px;
  overflow: hidden;
  height: 470px;
  &:hover{
    background: #FFEBE0;
    .opinion-card{
      &__img{
        background-color: $primary;
        img{
          filter: grayscale(0%);
        }
      }
      &__title{
        color: $primary;
        p{
          text-decoration: underline;
        }
        span{
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
  &__img{
    flex-shrink: 0;
    height: 229px;
    overflow: hidden;
    background: #D5D5D5;
    transition: all .3s;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: all .3s;
    }
  }
  &__content{
    padding: 12px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:5;
    -webkit-box-orient: vertical;
    p{
      display: inline;
    }
  }
  &__props{
    margin-top: auto;
    padding-top: 20px;
    .props__item{
      font-size: 10px;
      &:after{
        height: 10px;
        background-color: $black;
      }
      &:first-child{
        display: none;
      }
    }
  }
}

.video-card,
.podcast-card{
  display: flex;
  flex-direction: column;
  background: #1D1F34 ;
  border-radius: 15px;
  overflow: hidden;
  color: #fff;
  transition: all .3s;
  &:hover{
    color: #fff;
  }
  &__img{
    flex-shrink: 0;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: all .3s;
    }
  }
  &__content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  &__title{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    p{
      display: inline;
    }
  }
}

.video-card{
  &:hover{
    background: $primary;
    .video-card{
      &__icon{
        path{
          fill: $black;
        }
      }
      &__play{
        path{
          fill: $primary;
        }
      }
      &__img{
        background-color: $primary;
        img{
          filter: grayscale(0%);
        }
      }
      &__title{
        color: $black;
        p{
          text-decoration: underline;
        }
        span{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  &__img{
    height: 215px;
    position: relative;
    transition: all .3s;
  }
  &__play{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &__content{
    padding:15px 20px 20px;
  }
  &__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__time,
  &__date{
    font-size: 12px;
  }
  &__title{
    -webkit-line-clamp:5;
    margin-top: 15px;
    transition: all .3s;
  }
  &__date{
    padding-top: 30px;
    margin-top: auto;
    opacity: .5;
  }
  @media screen and (min-width: 992px){
    &--big{
      display: grid;
      grid-template-columns: 50% 50%;
      .video-card{
        &__img{
          height: 100%;
        }
        &__content{
          padding: 30px;
          justify-content: space-between;
        }
        &__date{
          margin-top: 0;
          padding: 0;
        }
        &__title{
          padding: 30px 0;
          font-size: 36px;
          margin-top: 0;
        }
        &__date,
        &__time{
          font-size: 14px;
        }
        &__play{
          svg{
            width: 128px;
            height: auto;
          }
        }
      }
    }
  }
}

.podcast-card{
  &:hover{
    background: $primary !important;
    .podcast-card{
      &__img{
        img{
          filter: grayscale(0%);
        }
      }
      &__title{
        color: $black;
        p{
          text-decoration: underline;
        }
        span{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  &__img{
    height: 465px;
    img{
      transition: all .3s;
    }
  }
  &__content{
    padding: 30px;
  }
  &__title{
    -webkit-line-clamp:3;
    transition: all .3s;
  }
  &__num{
    padding-top: 30px;
    margin-top: auto;
    font-size: 14px;
  }
}

@media screen and (max-width: 1150px){
  .blog-card{
    &__img{
      height: 327px;
    }
  }

  .opinion-card{
    height: 400px;
    &__img{
      height: 230px;
    }
    &__props{
      padding-top: 20px;
      .props__item{
        font-size: 12px;
        &:after{
          height: 12px;
        }
      }
    }
  }

  .video-card{
    &--big{
      .video-card{
        &__title{
          font-size: 36px;
          overflow: hidden;
        }
      }
    }
  }

  .podcast-card{
    &__num{
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 992px){
  .opinion-card{
    height: unset;
    &__img{
      background-color: $primary;
      img{
        filter: grayscale(0%);
      }
    }
  }

  .podcast-card,
  .video-card{
    &__img{
      height: 338px;
      img{
        filter: grayscale(0%);
      }
    }
    &__content{
      padding: 15px;
    }
    &__num,
    &__date{
      padding-top: 15px;
      font-size: 14px;
    }
  }

  .video-card{
    &__date{
      padding-top: 15px;
      font-size: 14px;
    }
  }

  .podcast-card{
    &__num{
      padding-top: 15px;
      font-size: 14px;
    }
  }

  .blog-card{
    &__title{
      margin-top: 20px;
      @media screen and (max-width: 576px){
        font-size: 30px;
      }
    }
    &__img{
      height: unset;
      filter: grayscale(0%);
      img{
        border-radius: 15px;
      }
    }
  }
}

@media screen and (max-width: 576px){
  .blog-card{
    padding: 15px;
    &__img{
      img{
        border-radius: 10px;
      }
    }
    &__title{
      margin-top: 15px;
    }
    &__props{
      padding-top: 15px;
    }
  }

  .opinion-card{
    &__props{
      padding-top: 50px;
    }
  }

  .video-card,
  .podcast-card{
    &__img{
      height: 161px;
    }
    &__title{
      font-size: 17px;
      -webkit-line-clamp: 5;
    }
  }

  .video-card{
    &__icon{
      svg{
        width: 21px;
        height: auto;
      }
    }
    &__time,
    &__date{
      font-size: 10px;
    }
  }

  .podcast-card{
    &__num{
      font-size: 10px;
    }
  }
}
