.error404{
  &__content{
    text-align: center;
    color: #fff;
  }
  &__img{
    width: 500px;
    margin: 0 auto;
    max-width: 100%;
    img{
      width: 100%;
      display: block;
    }
  }
  &__title{
    margin-top: 40px;
  }
  &__desc{
    margin-top: 20px;
    p{
      line-height: inherit;
      &:not(:last-child){
        margin-bottom: 42px;
      }
    }
  }
  .bitcoin-banner{
    margin-top: 100px;
  }
}

@media screen and (max-width: 1150px){
  .error404{
    &__desc{
      p{
        &:not(:last-child){
          margin-bottom: 35px;
        }
      }
    }
    .bitcoin-banner{
      margin-top: 80px;
    }
    &>.container{
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: 992px){
  .error404{
    &__desc{
      p{
        &:not(:last-child){
          margin-bottom: 31px;
        }
      }
    }
    .bitcoin-banner{
      margin-top: 40px;
    }
  }
}


@media screen and (max-width: 992px){
  .error404{
    &__title{
      margin-top: 20px;
    }
    &__desc{
      p{
        &:not(:last-child){
          margin-bottom: 27px;
        }
      }
    }
  }
}
