<article class="container">
    <div class="article__inner body-l">
        <div class="article__title text-l">The story of how a Bitcoin OG set up a Libertarian crypto community and commune for digital nomads on beautiful islands in Thailand three times — and why he hasn’t yet given up on the dream.</div>
        <p>It’s a wild tale involving “unchecked merrymaking,” crypto-influencers, police grillings, seasteading, a reported $20,000-a-month burn rate, rumors about shamans and drugs — and a major collision between idealism and reality. It was also, by all accounts, a whole lot of fun.</p>
        <p data-hint="Phuket is the largest island in Thailand. It is located in the Andaman Sea in southern Thailand.">
            The spectacular Cape Residences in Phuket, Thailand are a world away from the bohemian backpackers and Full Moon parties of Koh Pha-ngan where I’ve spent the past few weeks researching
            <a href="">Part 1 about crypto digital nomads living in paradise.</a>
        </p>

        <div class="bitcoin">
            <div class="bitcoin__img bitcoin__img--xl">
                <img src="img/bitcoin.webp" alt="">
            </div>
            <div class="bitcoin__img bitcoin__img--l">
                <img src="img/bitcoin2.webp" alt="">
            </div>
            <div class="bitcoin__img bitcoin__img--m">
                <img src="img/bitcoin3.webp" alt="">
            </div>
            <div class="bitcoin__img bitcoin__img--s">
                <img src="img/bitcoin4.webp" alt="">
            </div>
        </div>

        <p>If you’ve ever imagined how a Bitcoin OG lives, Kyle Chasse’s villa probably fits in the bill, nestled in between residences housing members of the Royal Family of Dubai and early Apple investors.</p>
        <p>There are four cars in the driveway, including an electric BMW charging up. Chasse is a big friendly bear of a man who greets me warmly and takes me on a tour of the seven-bedroom mansion where many of the 85-strong Master Ventures team does business, from social media video to planning investments and Paid Network launch pad projects.</p>
        <p>The beds are so large you could get lost; there’s an indoor golf driving range; and as we take a look at the outdoor entertaining area, Chasse flips a switch, and a waterfall starts pouring from a great height into the pool. “This is my favorite thing,” he says.</p>
        <blockquote>
            This place is like a hub. Everyone comes here, they have lunch, eat and talk and hang out, play basketball. We have movie nights and dinner and stuff like that.”
        </blockquote>
        <p>This is the latest — and most scaled-back — version of his dream to create a crypto commune for like-minded Libertarian dreamers. He’s tried twice before on Koh Pha-ngan, once on Coconut Island, and dabbled with setting it up as part of the ill-fated viral Cryptoland project the internet mercilessly destroyed.</p>
        <div class="article__img">
            <img src="img/article2.webp" alt="">
            <span class="article__img-desc">The view from Cryptopia</span>
        </div>

        <div class="article__group">
            <h2>Reality Bites</h2>
            <p>Unfortunately, of course, Chasse admits he had no idea how to manage a resort. On the day all the responsibilities for the staff, utilities and everything became his, the water went out.</p>
            <p>“The water came from a waterfall nearby, and sometimes, an animal or something knocks the pipe out of the stream. And suddenly, there was no water. So, it was an interesting first day.”</p>
        </div>
        <div class="article__group article__group--hint">
            <h2>Once a Bitcoin miner</h2>
            <p>Around 30%–40% of the Cryptopia residents were on the Master Ventures payroll, but word spread far and wide, attracting high-profile visitors, such as Bitcoiner Tone Vays, on-chain analyst Willy Woo and Carl the Moon Runefelt.</p>
            <p>There were people from China who ran the George Bush family fund, and not to mention “The King of Viral Media,” Dose media founder Emerson Spartz. Didi and the Bitcoin family stayed for months — he agrees to speak with me about it but then ghosts me for some reason.</p>
            <p>“Just incredible people came through. A lot of people invited their families to come out, too, which was kind of what I wanted.”</p>
            <div class="article__group-img">
                <img src="img/book.jpg" alt="">
                <div class="article__group-desc">Available at all good book stores, and plenty of bad ones too.</div>
            </div>
        </div>

        <div class="subscribe subscribe--inner">
            @@include('page-blocks/_subscribe.html')
        </div>

        <p>
            <a href="">Cointelegraph Magazine contributor Elias Ahonen was</a>
            also a resident while writing his book Blockland. He suggests that the dosing that “may or may not have occurred was probably more macro than micro.”
        </p>
        <p>
            Of course, any drug use by visitors was entirely incidental to the point of the Cryptopia — it was more just part of life on Koh Pha-ngan.
            <a href="">As described in Part 1</a>
            , the island is the kind of place where people go out for one drink and then wake up four days later in a field with a headache pounding in time to a hardcore psychedelic trance.
        </p>

        <div class="bitcoin-banner">
            @@include('page-blocks/_bitcoin-banner.html')
        </div>

        <p>It’s fun until its not: one digital nomad who lived elsewhere on the island told us of a good friend and colleague who ended up getting so immersed in the non stop partying lifestyle that he had a psychotic break, and they had to rush him off for treatment before he was deported. Another digital nomad said they were leaving the island, in part due to the negative aspects of the drug culture.</p>

        <div class="article-suggest">
            <div class="article-suggest__title display3">Read also</div>
            <div class="article-suggest__items">
                <div class="article-suggest__item">
                    <a href="" class="article-suggest__subtitle display4">
                        <span>Crypto Cities</span> <p>Aave taps Pocket Network to beef up decentralized app development</p>
                    </a>
                </div>
                <div class="article-suggest__item">
                    <a href="" class="article-suggest__subtitle display4">
                        <span>Features</span> <p>Bitcoin is for billions: Fedimint on scaling BTC in the global south</p>
                    </a>
                </div>
            </div>
        </div>

        <p>“People say any press is good press, but this was really, really bad,” he says, adding that the founders were defamed as scammers despite having the noblest of intentions.</p>
        <p>“They never took a dollar from anyone. It was one of the worst things I’ve ever seen happen to such nice people,” he says. “It’s amazing how much effort they put into this thing,” he says. “And then all of a sudden, when they decide to reveal themselves vulnerable, they just get smashed down.”</p>

        <div class="table-block">
            <div class="table-block__title display3">U.S. Top 10 Streaming Films</div>

            <table>
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Title</th>
                    <th>SVOD Provider</th>
                    <th>Minutes Streamed (Nearest Millions)</th>
                </tr>
                </thead>
                <tbody>
                @@include('page-blocks/_row.html',{"rank":"1","title":"Luca (2021)","svod":"Disney+","min":"10,592"})
                @@include('page-blocks/_row.html',{"rank":"2","title":"Moana","svod":"Disney+","min":"8,896"})
                @@include('page-blocks/_row.html',{"rank":"3","title":"Raya and the Last Dragon","svod":"Disney+","min":"8,343"})
                @@include('page-blocks/_row.html',{"rank":"4","title":"Frozen II","svod":"Disney+","min":"5,746"})
                @@include('page-blocks/_row.html',{"rank":"5","title":"Red Notice","svod":"Netflix","min":"5,528"})
                @@include('page-blocks/_row.html',{"rank":"6","title":"Frozen","svod":"Disney+","min":"5,282"})
                @@include('page-blocks/_row.html',{"rank":"7","title":"Soul (2020)","svod":"Disney+","min":"5,174"})
                @@include('page-blocks/_row.html',{"rank":"8","title":"Cruella","svod":"Disney+","min":"5,146"})
                @@include('page-blocks/_row.html',{"rank":"9","title":"Mitchells vs. The Machines","svod":"Netflix","min":"4,517"})
                @@include('page-blocks/_row.html',{"rank":"10","title":"Jungle Cruise","svod":"Disney+","min":"4,425"})
                </tbody>
            </table>

            <div class="table-block__hint">Source: motionpictures.org</div>
        </div>


        <p>After it went viral, the Fijian government reportedly contacted the project via their lawyers and discouraged them from proceeding.</p>
        <p>Chasse says he’s still a big supporter of Cryptoland, which is now looking at different locations from the Bahamas to Dubai.</p>

        <div class="tags">
            <a href="" class="tag">3AC</a>
            <a href="" class="tag">a16z</a>
            <a href="" class="tag">hedge fund</a>
            <a href="" class="tag">liquidity</a>
            <a href="" class="tag">terra luna</a>
            <a href="" class="tag">tokenomics</a>
            <a href="" class="tag">venture capital</a>
        </div>

        <div class="article-socials article-socials--dark">
            @@include('page-blocks/_article-socials.html')
        </div>

        <div class="author">
            @@include('page-blocks/_author.html',{"img":"author2","title":"Andrew Fenton","desc":"Based in Melbourne, Andrew Fenton is a journalist and editor covering cryptocurrency and blockchain. He has worked as a national entertainment writer for News Corp Australia, on SA Weekend as a film journalist, and at The Melbourne Weekly.","link":"@andrewfenton"})
        </div>

        <div class="blog">
            <div class="blog__title display2">Read also</div>
            @@include('page-blocks/_blog.html',{"img1":"blog6","img2":"blog7","btn":""})
        </div>

        <div class="news-inner">
            @@include('page-blocks/_news-popular.html')
        </div>
    </div>
</article>
