<div class="container">
    <div class="big-blog__card">
        <div class="big-blog__content">
            <a href="" class="big-blog__title display2">
                @@title
            </a>
            <div class="big-blog__props props">
                <span class="props__item">
                    by
                    <a href="">Julia Jackson</a>
                </span>
                <span class="props__item">12 min</span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
        <div class="big-blog__img">
            <img src="img/@@img.webp" alt="">
            @@if(video!==""){
            <div class="big-blog__play">
                <svg width="129" height="129" viewBox="0 0 129 129" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.5 12.4748L116.994 64.8729L25.5 117.271L25.5 12.4748Z" fill="white" stroke="black"/>
                </svg>
            </div>
            }
        </div>
    </div>
</div>
