<div class="news__block">
    <div class="news__title display2">Most popular </div>
    <a href="" class="news__subtitle display2">
        <span>Crypto Cities</span> <p>Old-school photographers grapple with NFTs: New world, new rules</p>
    </a>
    <div class="news__props props">
        <span class="props__item">
            by
            <a href="">Julia Jackson</a>
        </span>
        <span class="props__item">20 June, 2022</span>
    </div>
    <div class="news__grid">
        <div class="news__item">
            <a href="" class="news__item-title display4">
                <span>Crypto Cities</span> <p>Bitcoin is for billions: Fedimint on scaling BTC in the global south</p>
            </a>
            <div class="news__item-props props">
                <span class="props__item">
                    by
                    <a href="">Julia Jackson</a>
                </span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
        <div class="news__item">
            <a href="" class="news__item-title display4">
                <span>Crypto Cities</span> <p>Bitcoin is for billions: Fedimint on scaling BTC in the global south</p>
            </a>
            <div class="news__item-props props">
                <span class="props__item">
                    by
                    <a href="">Julia Jackson</a>
                </span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
        <div class="news__item">
            <a href="" class="news__item-title display4">
                <span>Crypto Cities</span> <p>Bitcoin is for billions: Fedimint on scaling BTC in the global south</p>
            </a>
            <div class="news__item-props props">
                <span class="props__item">
                    by
                    <a href="">Julia Jackson</a>
                </span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
        <div class="news__item">
            <a href="" class="news__item-title display4">
                <span>Crypto Cities</span> <p>Bitcoin is for billions: Fedimint on scaling BTC in the global south</p>
            </a>
            <div class="news__item-props props">
                <span class="props__item">
                    by
                    <a href="">Julia Jackson</a>
                </span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
    </div>
</div>
