<div class="news__block">
    <div class="news__title display2">Most popular </div>
    <div class="news__subtitle display2">
        <span>Crypto Cities</span> Old-school photographers grapple with NFTs: New world, new rules
    </div>
    <div class="news__props props">
        <span class="props__item">by Julia Jackson</span>
        <span class="props__item">20 June, 2022</span>
    </div>
    <div class="news__grid">
        <div class="news__item">
            <div class="news__item-title display4">
                <span>Crypto Cities</span> Bitcoin is for billions: Fedimint on scaling BTC in the global south
            </div>
            <div class="news__item-props props">
                <span class="props__item">by Julia Jackson</span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
        <div class="news__item">
            <div class="news__item-title display4">
                <span>Crypto Cities</span> Bitcoin is for billions: Fedimint on scaling BTC in the global south
            </div>
            <div class="news__item-props props">
                <span class="props__item">by Julia Jackson</span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
        <div class="news__item">
            <div class="news__item-title display4">
                <span>Crypto Cities</span> Bitcoin is for billions: Fedimint on scaling BTC in the global south
            </div>
            <div class="news__item-props props">
                <span class="props__item">by Julia Jackson</span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
        <div class="news__item">
            <div class="news__item-title display4">
                <span>Crypto Cities</span> Bitcoin is for billions: Fedimint on scaling BTC in the global south
            </div>
            <div class="news__item-props props">
                <span class="props__item">by Julia Jackson</span>
                <span class="props__item">20 June, 2022</span>
            </div>
        </div>
    </div>
</div>
