<div class="container">
    <div class="subscribe__inner">
        <div class="subscribe__content">
            <div class="subscribe__title display2">Subscribe</div>
            <div class="subscribe__desc text-l">The most engaging reads in blockchain. Delivered once a week.</div>
            <form action="" class="subscribe__form">
                @@include('../ui/_subscribe-form.html')
            </form>
        </div>
        <div class="subscribe__img">
            <img src="img/subscribe.webp" alt="">
        </div>
    </div>
</div>
